# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output
playwright-report
test-results

# Next.js
.next/
out/
build
dist

# Production
build/
dist/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
*.pem

# Typescript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# Turborepo
.turbo

# Cache
.cache
.eslintcache
.stylelintcache

# Cursor specific
.cursor/cursors
.cursor/logs

# Gradle
.gradle/
**/build/
*.iml

# Gradle-related ignore patterns 